<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular for validations</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/ladda/dist/ladda-themeless.min.css">
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
	<div class="container" ng-controller="FormValidationController">
		<section>
		<form ng-submit="onSubmit(theUser.$valid)" name="theUser" novalidate="novalidate">
			<div class="form-group">
				<label for="firstname" class="control-label">First Name</label>
				<input type="text" class="form-control" name="firstname" ng-model="formModel.firstname" placeholder="First Name" required="required">
			</div>
			<div class="form-group">
				<label for="lastname" class="control-label">Last Name</label>
				<input type="text" class="form-control" name="lastname" ng-model="formModel.lastname" placeholder="Last Name" required="required">
			</div>
			<div class="form-group">
				<label for="email" class="control-label">Email</label>
				<input type="email" class="form-control" name="email" ng-model="formModel.email" placeholder="Email" required="required">
			</div>
			<div class="form-group">
				<label for="username" class="control-label">Username</label>
				<input type="text" class="form-control" name="username" ng-model="formModel.username" ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$/" ng-pattern-err-type="badUsername" placeholder="Username" required="required">
			</div>
			<div class="form-group" >
				<label for="password" class="control-label">Password</label>
				<input type="password" class="form-control" name="password" ng-model="formModel.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/" ng-pattern-err-type="badPassword" placeholder="Password" required="required">
			</div>
			<div class="form-group">
				<label for="confirmpassword" class="control-label">Confirm Password</label>
				<input type="password" class="form-control" name="confirmpassword" ng-model="formModel.confirmpassword" placeholder="Confirm Password">
			</div>
			<div class="form-group">
				<label for="address" class="control-label">Address</label>
				<input type="text" class="form-control" name="address" ng-model="formModel.address" placeholder="Address">
			</div>
			<div class="form-group">
				<label for="city" class="control-label">City</label>
				<input type="text" class="form-control" name="city" ng-model="formModel.city" placeholder="City">
			</div>
			<div class="form-group">
				<label for="state" class="control-label">State</label>
				<input type="text" class="form-control" name="state" ng-model="formModel.state" placeholder="State">
			</div>
			<div class="form-group">
				<label for="number" class="control-label">Number</label>
				<input type="telephone" class="form-control" name="number" ng-model="formModel.number" ng-pattern="/\d{3}[\-]\d{3}[\-]\d{4}/" ng-pattern-err-type="invalidNumber" placeholder="Number" required="required">
			</div>
			<div class="form-group">
				<select name="gender" class="form-control" ng-model="formModel.gender">
					<option value="">Please choose</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
			</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" ladda="submitting" data-style="expand-right">
					<span ng-show="submitting">In process</span>
					<span ng-show="!submitting">Register</span>
				</button>
			</div>
		</form>


	</section>
	</div>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
	<script type="text/javascript" src="bower_components/ladda/dist/spin.min.js"></script>
	<script type="text/javascript" src="bower_components/ladda/dist/ladda.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

</body>
</html>